<!-- src/app/navbar/navbar.component.html -->
<nav>
  <a routerLink="/">Cinebuzz</a>
  <div>
    <form [formGroup]="searchForm">
      <input
        type="text"
        formControlName="movieSearch"
        (input)="onSearchChange($event)"
        placeholder="Search for movies"
      />
      <select (change)="onMovieSelect($event)">
        <option value="">Select a movie</option>
        <ng-container *ngIf="searchForm.get('movieSearch')?.value">
          <option *ngFor="let result of searchResults" [value]="result.id">
            {{ result.title }} ({{ result.release_date.slice(0, 4) }})
          </option>
        </ng-container>
      </select>
    </form>
    <div *ngIf="user$ | async as user">
      <p>Welcome back, {{ user.email.split("@")[0] }}</p>
      <button routerLink="/write-review">Write Review</button>
      <button [routerLink]="getProfileLink(user)">Profile</button>
      <button (click)="logout()">Logout</button>
    </div>
    <div *ngIf="!(user$ | async)">
      <a routerLink="/login">Login</a>
      <a routerLink="/login">Register</a>
    </div>
  </div>
</nav>
