<!-- review-summary.component.html -->
<div *ngIf="review">
  <h3>{{ review.movieTitle }} ({{ review.movieRelease }})</h3>
  <p>{{ review.reviewText }}</p>
  <p>{{ review.rating }} out of 5</p>
  <p *ngIf="userEmail$ | async as userEmail">
    Author: {{ userEmail.split("@")[0] }}
  </p>
  <!-- Add check for loggedInUserId being not null -->
  <button
    *ngIf="loggedInUserId && review.userId === loggedInUserId"
    (click)="onEdit()"
  >
    Edit
  </button>
  <button
    *ngIf="loggedInUserId && review.userId === loggedInUserId"
    (click)="onDelete()"
  >
    Delete
  </button>
</div>
